body {
    background-repeat: no-repeat;
    background-size: cover;

}

.pop-card {
    background: rgb(200, 200, 200);
    position: absolute;
    height: 30%;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#close {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 65%;
}